
  
  .header {
    background-image:linear-gradient(rgba(35, 88, 186, 0.844),rgba(2, 6, 14, 0.844)),url(images/TheLibrary.png);
  }

  div{
    margin-top:20px;
  }
  
  .goals button {
    margin-top: 50px;
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    background: transparent;
    font-size: 25px;
    position: relative;
    cursor: pointer;
  }
  
  .goals button:hover {
    border: 1px solid yellow;
    background: gold;
    transition: 0.5s;
  }
  
  section.course {
    flex: 1;
    width: 75%;
    flex-wrap: wrap;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    color: aliceblue;
  }

  section.course h1{
    font-family: fantasy;
    font-size: 40px;
    font-weight: bolder;
  }
  section.course h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    font-weight: bold;
    background-color: rgb(193, 176, 79);
    font-style: oblique;
  }
   h3 {
    font-family: fantasy;
    font-size: 30px;
    font-weight: bold;
    font-style: oblique;
  }
  
  section.course p {
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 22px;
    padding: 20px 25px 30px 25px;
  }
  
  /* row syles */
  .row {
    display: flex;
    justify-content: space-between;
  }
  
  .subject {
    flex-basis: 30%;
    background: rgb(153, 142, 78);
    border-radius: 30px;
    margin-bottom: 20px;
    padding: 20px ;
    box-sizing: border-box;
    transition: 1s;
    text-decoration: none;
  }

  /* To-Do List styles */
  #taskList ul li{
    margin: 0;
    padding: 5px;
    position: relative;
    background: white;
    color: black;
    transition: 0.5s;

    /* list items unselectable */
    -webkit-user-select:none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    list-style: none;
  }  

  #taskList ul li:nth-child(odd){
    background-color: rgb(151, 146, 146);
  }

  #taskList ul li:hover{
    background: gold;
  }

  /* since the user should be able to undo changes, just strike out completed tasks */
  #taskList ul li.checked {
    background: green;
    text-decoration: line-through;
  }

  /* check mark to completed tasks */
  #taskList ul li.checked:before {
    content: '';
    position: absolute;
    border-color: white;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }

  .close{
    position:absolute;
    right: 0;
    top: 0;
    transform: translateY(-4%);
    padding: 6px;
  }

  .close:hover{
    background-color: red;
    color:white;
    transition: 0.2s;
    width: auto;

  }

  #taskInput{
    margin: 0;
    border: none;
    border-radius: 0;
    width: 93%;
    padding: 10px;
    float: left;
    font-size: 16px;
  }

  #addbtn{
    padding: 5px;
    width: 25%;
    background: rgb(153, 142, 78);
    color: aliceblue;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 0;

  }

  #addbtn:hover{
    background: gold;
  }
  
  #taskDate{
    padding: 5px;
    width: 42%;
    background: rgba(35, 88, 186, 0.844);
    color: aliceblue;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.4s;
    border-radius: 0;
  }

  #taskColor{
    padding: 5px;
    cursor: pointer;
    border-radius: 0;
  }

  
  @media (max-width:700px) {
    .subject{
      flex-basis: auto !important;
    }
  }
  
  .subject:hover {
    box-shadow: 0 0 20px 0px black;
    background-color: goldenrod;
    cursor: pointer;
  }
  
  li#math {
    list-style-image: url("images/mathIcon.png");
  }
  
  li#science {
    list-style-image: url("images/scienceIcon.png");
  }
  
  li#english {
    list-style-image: url("images/englishIcon.png");
  }
  
  li#art {
    list-style-image: url("images/artIcon.png");
  }

  
  


  /* rgba(2, 6, 14, 0.844), rgba(35, 88, 186, 0.844) */
  /* rgba(145, 140, 119, 0.844), rgba(108, 141, 113, 0.476) */